__pycache__/
venv*
venv12/
.venv/
.env
pypi-robocrew/
.clean_coder/
.codex/
.coderrules
*.wav
.idea/
/dist/
artifacts/
uv.lock
physical_path.sh
robot_memory.db
logs/
requirements.txt
constraints.txt
*.rules
*.log
*.onnx
*.onnx.json
Agents.md

sterowanie.py
tts/


examples/xlerobot_controler.py
examples/xlerobot_controller.py
